<div class="card">
  <div class="card-content">
    <div class="pill-group">
      @for (relay of relays(); track relay.name) {
        <app-luz
          [name]="relay.name"
          [state]="relay.state"
          (click)="onRelayButtonClick(relay.name)"
        />
      }

      <button class="menu-item power-item" (click)="onAllRelaysButtonClick()">
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
          <line x1="12" y1="2" x2="12" y2="12"></line>
        </svg>
      </button>

      <button class="menu-item reset-item" (click)="onResetButtonClick()">
        Rs
      </button>
    </div>
  </div>
  <div>
    <a class="card-button" [routerLink]="''">
      <span>Menú</span>
    </a>
  </div>
</div>
