<div class="card">
  <div class="card-content">
    <div class="pill-group">
      @for (relay of relays(); track relay.name) {
        <app-luz
          [name]="relay.name"
          [state]="relay.state"
          (click)="onRelayButtonClick(relay.name)"
        />
      }

      <button
        class="menu-item"
        [ngClass]="{'on-button': onButtonState() === 'on', 'off-button': onButtonState() === 'off'}"
        (click)="onAllRelaysButtonClick()">
          {{ onButtonState() === 'on' ? 'Off' : 'On' }}
      </button>

      <button class="menu-item off-button" (click)="onResetButtonClick()">
        Rs
      </button>
    </div>
  </div>
  <div>
    <a class="card-button" [routerLink]="''">
      <span>Menú</span>
    </a>
  </div>
</div>